<footer class="footer">
    <div class="socials-group">
        <a href="#" class="social-link">Github</a>
        <a href="#" class="social-link">LinkedIn</a>
        <a href="#" class="social-link">Twitter</a>
    </div>
    &copy; <%= new Date().getFullYear(); %> Madison Abegglen
</footer>