<footer class="footer row">
    <div class="socials-group">
        <a href="#" class="social-link col-1">Github</a>
        <a href="#" class="social-link col-1">LinkedIn</a>
        <a href="#" class="social-link col-1">Twitter</a>
    </div>
    &copy; <%= new Date().getFullYear(); %> Madison Abegglen
</footer>