<footer class="footer">
    <div class="socials-group">
        <a href="https://github.com/Madison-Abegglen/" class="social-link col-1"><img src="/images/github_white.png" alt="" class="icon"></a>
        <a href="https://www.linkedin.com/in/madison-abegglen-708338121/" class="social-link col-1"><img src="/images/linkedin_white.png" alt="" class="icon"></a>
        <a href="#" class="social-link col-1"><img src="/images/twitter_white.png" alt="" class="icon"></a>
    </div>
    <div class="copyright">
        &copy; <%= new Date().getFullYear(); %> Madison Abegglen
    </div>
</footer>