<header class="header">
    <img class="header__logo" src="/images/Quickdash-Icon.png" alt="">
    <a href="/" class="header__brand">QuickDash</a>
    <!-- <div class="header__button">
        <button class="dropdown">
            <img src="/images/down.png" alt="">
        </button>
    </div> -->
</header>