<header class="header">
    <img class="header__logo" src="/images/Quickdash-Icon.png" alt="">
    <a href="/" class="header__brand">QD</a>
    <div class="header__button">
        <button class="logout-btn">
            <p>Logout</p>
        </button>
    </div>
</header>