<header class="header-a">
    <img class="header__logo" src="/images/Quickdash-Icon.png" alt="">
    <a href="/" class="header__brand">QD</a>
    <button class="logout-btn">
        <p>Logout</p>
    </button>
</header>