<header class="header">
    <nav class="header__nav">
        <a href="/" class="header__brand">QD</a>
        <button class="dropdown"><img src="/images/down.png" alt=""></button>
    </nav>
</header>