<div class="home">
    <h1 class="home__heading">Welcome!</h1>
    <div class="qotd-group">
        <p class="qotd">"Here there will be the quote of the day..."</p>
        <p class="qotd-author">- Author</p>
    </div>
    <div class="todo-group">
        <h4><i>My To-Do List</i></h4>
        <ul>
            <li class="todo-item">To-Do Static Placeholder</li>
            <li class="todo-item">To-Do Static Placeholder</li>
            <li class="todo-item">To-Do Static Placeholder</li>
        </ul>
    </div>
</div>