<div class="home-heading">
  <img src="/images/qd-homegraphic.png" alt="" class="home-graphic" />
  <p class="qotd">"Here there will be the quote of the day..."</p>
  <p class="qotd-author">- Author</p>
  <span class="heading-bottom-border"></span>
</div>
<div class="todo-group">
  <div class="todo-header">
    <h4><i>Your Task List</i></h4>
    <a href="/add-task" class="button">+</a>
  </div>
  <ul class="todo-ul">
    <% data.forEach(task => { %>
    <li class="todo-li">
        <p class="task-title"><%= task.title %></p>
        <p class="task-body"><%= task.body %></p>
        <p class="task-createdAt"><%= task.createdAt.toDateString() %></p>
        <input type="checkbox" id="isCompleted" class="task-checkbox" />
        <label for="isCompleted" class="task-checkbox-label"></label>
        <button class="todo-button"><img src="/images/delete.png" alt="Remove"></button>
    </li>
    <% }) %>
  </ul>
</div>
