<div class="login-form">
    <form action="/login" method="POST">
        <label for="username" class="user-label"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password" class="pass-label"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Login" class="btn-login">
        <a href="/views/login.ejs" class="link-register">Not a member?</a>
    </form>
</div>