<div class="login-form">
    <form action="/login" method="POST">
        <h4 class="form-message">Sign In</h4>
        <label for="username" class="user-label">Username</label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password" class="pass-label">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Login" class="btn-login">
        <a href="" class="link-register">Not a member?</a>
    </form>
</div>
<div class="register-form">
    <form action="/register" method="POST">
        <h4 class="form-message">Register</h4>
        <label for="username" class="user-label">Username</label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password" class="pass-label">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Register" class="btn-register">
        <a href="" class="link-register">Already a member?</a>
    </form>
</div>