<div class="login-title">
    <h6>Welcome to QuickDash</h6>
    <h1>Your One-Stop Destination for Task Management</h1>
</div>
<div class="login-body">
    <h4>The Power of QuickDash</h4>
    <i><p>Manage Your tasks &amp; Information Efficiently with QuickDash</p></i>
    <button class="login-button btn" id="login-button">Login</button>
</div>