<div class="login-form" id="loginForm">
    <h4 class="form-message">Sign In</h4>
    <form action="/login" method="POST">
        <label for="username" class="user-label">Username</label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password" class="pass-label">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Login" class="btn-login">
    </form>
    <a href="" class="link-register" id="registerToggle">Not a member?</a>
    <p id="loginError" class="error-message"></p>
</div>
<div class="register-form" id="registerForm">
    <h4 class="form-message">Register</h4>
    <form action="/register" method="POST">
        <label for="username" class="user-label">Username</label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password" class="pass-label">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Register" class="btn-register">
    </form>
    <a href="" class="link-login" id="loginToggle">Already a member?</a>
    <p id="registerError" class="error-message"></p>
</div>