@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:wght@200;300;400;600;700&family=Prata&family=Quicksand:wght@300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7e7e7e;
    --gray-light: #e4e4e4;
    --purple: #592E57;
    --purple-light: #A298BC;
    --pink: #F6E0E8;
    --green: #30574E;
    --green-light: #91ABA5;
    --sea-green: #69E0EA;
    --sea-green-light: #A9EFF7;
    --teal: #074151;
    --teal-light: #97BCC8;
    --blue: #84ABDC;
    --blue-light: #AFCEEB;
    --tan: #FEE6C4;

    --font-size-base: 1rem;
    --font-size-sm: clamp(1.13rem, calc(1.08rem + .22vw), 1.25rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 4.75rem);
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    background-image: url("/images/Candy_Cotton_BG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: .07rem 0.75rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--purple);
}

/* ===== HEADER ===== */
.header {
    height: 10vh;
    display: grid;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--purple);
    grid-template-columns: 0fr 0fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas: 
    "logo brand"
    ;
}

@media only screen and (max-width: 996px) {
    .header a {
        font-size: 16px;
    }

    .header img {
        height: 50px;
    }
}

.header__logo {
    grid-area: logo;
    height: 60px;
}

.header__brand {
    grid-area: brand;
    font-weight: 400;
    font-size: 24px;
    padding: .25rem .5rem .5rem .5rem;
    text-decoration: none;
    color: var(--purple);
    background-color: white;
    border: 1px solid var(--purple);
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.header__brand:hover {
    background-color: var(--purple-light);
    color: white;
}

.header__button {
    grid-area: dropdown;
    padding: 10px;
}

.dropdown {
    height: 20px;
    width: 30px;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 10%;
    cursor: pointer;
}

.dropdown:hover {
    background-color: var(--purple-light);
}

.dropdown img {
    height: 15px;
    width: 15px;
}

/* ===== FOOTER ===== */
.footer {
    height: 10vh;
    margin: 4rem 0 4rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "spacer1 socials spacer2"
    "spacer3 copyright spacer4"
    ;
}

.socials-group {
    grid-area: socials;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    min-width: 45px;
    width: 3rem;
    padding: 0 1rem 1rem 1rem;
}

.copyright {
    grid-area: copyright;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ===== LAYOUT ===== */
.container {
    margin: 0 auto;
    padding: 0 auto;
}

/* ===== LOGIN ===== */
.login-title {
    display: grid;
    padding: 0 3rem 0 3rem;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "pretitle"
    "title"
    "border"
    ;
}

.title-bottom-border {
    grid-area: border;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--purple);
}

.login-title h1 {
    grid-area: title;
    font-weight: 400;
    font-size: var(--font-size-xl);
    margin: 0 !important;
}

.login-title h6 {
    grid-area: pretitle;
    font-weight: 400;
    font-size: 18px;
    margin: 2rem 0 1rem 0 !important;
}

.login-body {
    background-color: white;
    display: grid;
    padding: 3.5rem 3rem 3rem 3rem;
    margin-top: 1rem;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "subtitle"
    "subparagraph"
    "subbutton"
    ;
}

.login-body h4 {
    grid-area: subtitle;
    margin: 1rem 0 1rem 0;
    color: var(--purple);
    font-weight: 400;
    font-size: var(--font-size-lg);
}

.login-body p {
    grid-area: subparagraph;
    color: var(--purple);
    font-weight: 400;
    font-size: var(--font-size-base);
}

.btn {
    grid-area: subbutton;
    width: 122px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    padding: .5rem 2.5rem .5rem 2.5rem;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn:hover {
    background-color: var(--purple-light);
    color: white;
}

/* ===== HOME ===== */

.home-heading {
    display: grid;
    padding: 0 3rem 0 3rem;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "1 greeting qotd 2"
    "3 4 author 5"
    "6 border border 7"
    ;
}

.home-graphic {
    grid-area: greeting;
    width: 30rem;
    margin: 2rem 0 0 0 !important;
    align-self: flex-end;
    justify-self: flex-start;
}

.qotd {
    grid-area: qotd;
    font-weight: 400;
    font-size: var(--font-size-base);
    align-self: flex-end;
    justify-self: flex-end;
}

.qotd-author {
    grid-area: author;
    font-weight: 400;
    font-size: var(--font-size-base);
    margin: 0;
    align-self: flex-start;
    justify-self: flex-end;
}

.heading-bottom-border {
    grid-area: border;
    padding: .75rem 0 0 0;
    border-bottom: 1px solid var(--purple);
}

.todo-group {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "1 todo-subtitle 2"
    "3 todo-list 4"
    ;
}

.todo-group h4 {
    grid-area: todo-subtitle;
    font-weight: 400;
    font-size: var(--font-size-sm);
}

.todo-group ul {
    grid-area: todo-list;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-sm);
}

.todo-item {
    font-weight: 400;
    font-size: var(--font-size-base);
    padding: .5rem 0 .5rem 0;
    cursor: pointer;
    transition: filter 0.1s;
}

.todo-item:not(:last-child) {
    border-bottom: 1px solid var(--purple);
}

@media only screen and (max-width: 1148px) {
    .home-heading {
        grid-template-columns: 3fr;
        grid-template-areas: 
        "greeting"
        "qotd"
        "author"
        "border"
        ;
    }

    .home-graphic {
        width: clamp(10rem, 100%, 30rem);
        justify-self: center;
    }

    .qotd {
        justify-self: center;
    }

    .qotd-author {
        justify-self: center;
    }

    .todo-group {
        padding: 0 3rem 0 3rem;
        grid-template-columns: 3fr;
        grid-template-areas: 
        "todo-subtitle"
        "todo-list"
        ;
    }

    .todo-group h4 {
        justify-self: flex-start;
    }
}