@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:wght@200;300;400;600;700&family=Prata&family=Quicksand:wght@300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7e7e7e;
    --gray-light: #e4e4e4;
    --purple: #592E57;
    --purple-light: #A298BC;
    --pink: #F6E0E8;
    --green: #30574E;
    --green-light: #91ABA5;
    --sea-green: #69E0EA;
    --sea-green-light: #A9EFF7;
    --teal: #074151;
    --teal-light: #97BCC8;
    --blue: #84ABDC;
    --blue-light: #AFCEEB;
    --tan: #FEE6C4;
    --red: rgb(210, 83, 83);

    --font-size-base: 1rem;
    --font-size-sm: clamp(1.13rem, calc(1.08rem + .22vw), 1.25rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 4.75rem);
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    background-image: url("/images/Candy_Cotton_BG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: .07rem 0.75rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--purple);
}

/* ===== HEADER ===== */
.header {
    height: 10vh;
    display: grid;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--purple);
    grid-template-columns: 0fr 0fr;
    grid-template-rows: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-areas:
        "logo brand"
    ;
}

.header-a {
    height: 10vh;
    display: grid;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--purple);
    grid-template-columns: 0fr 0fr 6fr 0fr;
    grid-template-rows: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-areas:
        "logo brand 1 logout"
    ;
}

@media only screen and (max-width: 996px) {
    .header a {
        font-size: 16px;
    }

    .header img {
        height: 50px;
    }
}

.header__logo {
    grid-area: logo;
    height: 60px;
}

.header__brand {
    grid-area: brand;
    font-weight: 400;
    font-size: 24px;
    padding: .25rem .5rem .5rem .5rem;
    text-decoration: none;
    color: var(--purple);
    background-color: white;
    border: 1px solid var(--purple);
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.header__brand:hover {
    background-color: var(--purple-light);
    color: white;
}

.header__button {
    grid-area: dropdown;
    padding: 10px;
}

.logout-btn {
    grid-area: logout;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    margin: 1rem 2.5rem 1rem 2rem;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.logout-btn:hover {
    background-color: var(--purple-light);
    color: white;
}

/* ===== FOOTER ===== */
.footer {
    height: 10vh;
    margin: 1rem 0 4rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "spacer1 socials spacer2"
        "spacer3 copyright spacer4"
    ;
}

.socials-group {
    grid-area: socials;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    min-width: 45px;
    width: 3rem;
    padding: 0 1rem 1rem 1rem;
}

.copyright {
    grid-area: copyright;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ===== LAYOUT ===== */
.container {
    margin: 0 auto;
    padding: 0 auto;
}

/* ===== WELCOME ===== */
.welcome-title {
    display: grid;
    padding: 0 3rem 0 3rem;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "pretitle"
        "title"
        "border"
    ;
}

.title-bottom-border {
    grid-area: border;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--purple);
}

.welcome-title h1 {
    grid-area: title;
    font-weight: 400;
    font-size: var(--font-size-xl);
    margin: 0 !important;
}

.welcome-title h6 {
    grid-area: pretitle;
    font-weight: 400;
    font-size: 18px;
    margin: 2rem 0 1rem 0 !important;
}

.welcome-body {
    background-color: white;
    display: grid;
    padding: 3.5rem 3rem 3rem 3rem;
    margin-top: 1rem;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "subtitle"
        "subparagraph"
        "subbutton"
    ;
}

.welcome-body h4 {
    grid-area: subtitle;
    margin: 1rem 0 1rem 0;
    color: var(--purple);
    font-weight: 400;
    font-size: var(--font-size-lg);
}

.welcome-body p {
    grid-area: subparagraph;
    color: var(--purple);
    font-weight: 400;
    font-size: var(--font-size-base);
}

/* ===== LOGIN ===== */
.login-form {
    display: grid;
    padding: 3rem 3rem 3rem 3rem;
    justify-self: center;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 loginform-h4 2"
        "3 loginform 4"
        "5 loginform-a 6"
    ;
}

.register-form {
    display: none;
    padding: 3rem 3rem 3rem 3rem;
    justify-self: center;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 registerform-h4 2"
        "3 registerform 4"
        "5 registerform-a 6"
    ;
}

.login-form form {
    grid-area: loginform;
    border: 1px solid var(--purple);
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

.register-form form {
    grid-area: registerform;
    border: 1px solid var(--purple);
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

.login-form h4 {
    grid-area: loginform-h4;
}

.register-form h4 {
    grid-area: registerform-h4;
}

.login-form a {
    grid-area: loginform-a;
}

.register-form a {
    grid-area: registerform-a;
}

.form-message {
    margin-left: 12px;
    font-weight: 400;
    font-size: var(--font-size-sm);
}

.user-label,
.pass-label {
    margin-left: 12px;
    color: var(--purple);
}

.tologin {
    grid-area: subbutton;
    width: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    padding: .5rem 2.5rem .5rem 2.5rem;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn-login {
    width: 122px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    padding: .5rem 2.5rem .5rem 2.5rem;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn-register {
    width: 122px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    padding: .5rem 1rem .5rem 1rem;
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.btn-login:hover,
.btn-register:hover,
.tologin:hover {
    background-color: var(--purple-light);
    color: white;
}

.link-register {
    max-width: 120px;
    font-size: var(--font-size-base);
    color: black;
    padding: 1rem;
    transition: color .4s ease-in-out;
}

.link-login {
    max-width: 150px;
    font-size: var(--font-size-base);
    color: black;
    padding: 1rem;
    transition: color .4s ease-in-out;
}

.link-register:hover,
.link-login:hover {
    color: white;
}

@media only screen and (max-width: 470px) {
    .login-form {
        padding: 3rem 1rem 3rem 1rem;
    }

    .login-form form {
        display: flex;
        flex-direction: column;
    }

    .link-register {
        padding: 1rem 0 1rem .5rem;
    }

    .register-form {
        padding: 3rem 1rem 3rem 1rem;
    }

    .register-form form {
        display: flex;
        flex-direction: column;
    }

    .link-login {
        padding: 1rem 0 1rem .5rem;
    }
}

/* ===== HOME ===== */
.home-heading {
    display: grid;
    padding: 0 3rem 0 3rem;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 greeting qotd 2"
        "3 4 author 5"
        "6 border border 7"
    ;
}

.home-graphic {
    grid-area: greeting;
    width: 30rem;
    margin: 2rem 0 0 0 !important;
    align-self: flex-end;
    justify-self: flex-start;
}

.qotd {
    grid-area: qotd;
    font-weight: 400;
    font-size: var(--font-size-base);
    align-self: flex-end;
    justify-self: flex-end;
}

.qotd-author {
    grid-area: author;
    font-weight: 400;
    font-size: var(--font-size-base);
    margin: 0;
    align-self: flex-start;
    justify-self: flex-end;
}

.heading-bottom-border {
    grid-area: border;
    padding: .75rem 0 0 0;
    border-bottom: 1px solid var(--purple);
}

.todo-group {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 todo-subtitle 2"
        "3 todo-list 4"
        "5 pagination 6"
    ;
}

.todo-header {
    grid-area: todo-subtitle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo-header h4 {
    font-weight: 400;
    font-size: var(--font-size-sm);
}

.todo-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 1rem 0 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-md);
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.todo-header a:hover {
    background-color: var(--purple-light);
    color: white;
}

.todo-group ul {
    grid-area: todo-list;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-sm);
}

.todo-li {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 0fr 0fr;
    grid-template-rows: auto;
    font-weight: 400;
    font-size: var(--font-size-base);
    padding: .5rem 0 1.5rem 0;
    transition: filter 0.2s;
    grid-template-areas:
        "task-title task-body task-createdAt edit task-checkbox"
    ;
}

.todo-edit {
    grid-area: edit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 .5rem;
    background-color: transparent;
    border: none;
    justify-self: start;
    align-self: center;
    cursor: pointer;
}

.todo-edit img {
    width: 1rem;
    height: 1rem;
}

.task-title {
    margin: 0;
    padding-left: 1rem;
    justify-self: start;
    align-self: center;
    grid-area: task-title;
}

.task-body {
    margin: 0;
    padding-left: 1rem;
    border-left: 1px solid var(--purple);
    justify-self: start;
    align-self: center;
    grid-area: task-body;
}

.task-createdAt {
    margin: 0;
    padding-right: 1rem;
    border-right: 1px solid var(--purple);
    text-align: end;
    justify-self: end;
    align-self: center;
    font-size: var(--font-size-base);
    color: var(--purple);
    grid-area: task-createdAt;
}

.task-checkbox {
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem 0 .5rem;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    grid-area: task-checkbox;
}

.task-checkbox-label {
    cursor: pointer;
}

.todo-ul li:not(:last-child) {
    border-bottom: 1px solid var(--purple);
}

.todo-ul li:hover {
    filter: none;
}

.todo-ul:hover li {
    filter: blur(2px);
}

.todo-ul:hover li:hover {
    filter: none;
}

.pagination {
    grid-area: pagination;
    font-size: var(--font-size-base);
    color: var(--black);
    text-decoration: none;
    margin: 1rem 0 1rem 0;
    justify-self: center;
    align-self: center;
    transition: color .2s;
}


@media only screen and (max-width: 770px) {
    .task-title {
        grid-area: contenttitle;
        align-self: flex-end;
        padding: .25rem 0 .25rem 0;
    }

    .task-body {
        grid-area: contentbody;
        align-self: flex-start;
    }

    .task-title,
    .task-body {
        padding-left: .5rem;
        border-left: 1px solid var(--purple);
    }

    .task-createdAt {
        grid-area: createdAt;
        border-right: none;
        border-left: 1px solid var(--purple);
        padding: .5rem;
        justify-self: flex-start;
    }

    .task-checkbox {
        grid-area: checkbox;
    }

    .todo-edit {
        grid-area: edit;
        margin: 0;
        padding: .5rem;
    }

    .todo-ul li {
        padding: .5rem 0 .5rem 0;
        grid-template-columns: 10fr 0fr 0fr 0fr;
        grid-template-areas:
            "contenttitle contenttitle contenttitle contenttitle"
            "contentbody contentbody contentbody contentbody"
            "createdAt 1 edit checkbox"
        ;
    }
}

@media only screen and (max-width: 1148px) {
    .home-heading {
        grid-template-columns: 3fr;
        grid-template-areas:
            "greeting"
            "qotd"
            "author"
            "border"
        ;
    }

    .home-graphic {
        width: clamp(10rem, 100%, 30rem);
        justify-self: center;
    }

    .qotd {
        justify-self: center;
    }

    .qotd-author {
        justify-self: center;
    }

    .todo-group {
        padding: 0 3rem 0 3rem;
        grid-template-columns: 3fr;
        grid-template-areas:
            "todo-subtitle"
            "todo-list"
        ;
    }

    .todo-group h4 {
        justify-self: flex-start;
    }
}

/* ===== Add Task ===== */
.addtask-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.addtask-btn:hover {
    color: white;
    background-color: var(--purple-light);
}

.addtask-form {
    display: grid;
    padding: 3rem 0 3rem 0;
    justify-self: center;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 back 2"
        "3 addtasktitle 4"
        "5 addtaskform 6"
    ;
}

.addtask-form form {
    grid-area: addtaskform;
    border: 1px solid var(--purple);
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

.addtask-form h2 {
    grid-area: addtasktitle;
}

.addtask-form a {
    grid-area: back;
    width: 4rem;
    transition: color .4s ease-in-out;
}

.addtask-form a:hover {
    color: white;
}

@media only screen and (max-width: 470px) {
    .addtask-form {
        padding: 2rem 0 2rem 0;
    }
}

/* ===== Edit & Delete Task ===== */
.updatetask-page {
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "1 back 2"
        "3 updatetask-header 4"
        "5 updatetask-form 6"
    ;
}

.updatetask-page a {
    grid-area: back;
    margin: 1rem 0 0 0;
    width: 4rem;
    transition: color .4s ease-in-out;
}

.updatetask-page a:hover {
    color: white;
}

.updatetask-header {
    grid-area: updatetask-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.updatetask-header h2 {
    margin: 1rem 0 1rem 0;
}

.updatetask-header h2,
.delete-task {
    grid-area: updatetask-header;
}

.deletetask-btn {
    width: 80px;
    height: 40px;
    margin: 1rem 0 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.deletetask-btn:hover {
    border: 1px solid red;
    background-color: var(--red);
    color: white;
}

.updatetask-form {
    grid-area: updatetask-form;
    border: 1px solid var(--purple);
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

.updatetask-btn {
    width: 80px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-base);
    background-color: white;
    border: 1px solid var(--purple);
    border-radius: 50px;
    color: var(--purple);
    cursor: pointer;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.updatetask-btn:hover {
    background-color: var(--purple-light);
    color: white;
}