<div id="login-view">
    <h2 id="form-title">Login</h2>
    <form id="auth-form" action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password">
        <!-- Additional Registration Fields -->
        <input type="text" id="registration-field" name="name" placeholder="Name" required>
        <button type="submit">Login</button>
    </form>
    <p id="toggle-text">Don't have an account? <a id="toggle-button">Register</a></p>
</div>